<% layout("./layouts/boilerplate") %>
<style>
  #filters{
    display : flex;
    flex-wrap: wrap;
  }
  .filter{
    text-align: center;
    margin-right : 2rem;
    margin-top:1rem;
    opacity:0.7;
  }
  .filter:hover{
    opacity:1;
    cursor:pointer;
  }
</style>
<body>
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Add New Listing</button>
    </form> -->
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castles</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beach</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Islands</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-temperature-three-quarters"></i></div>
        <p>Deserts</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
    </div>
    <% if (allListing.length==0) { %>
      <div class="text-center mt-5">
        <h3>No listings available for "<%= filterType %>" 😢</h3>
        <p>Try selecting a different filter or add a new listing!</p>
        <a href="/listings">Back to Home page</a>
      </div>
    <% } else { %>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
    <%for(listing of allListing){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
    <div class="card col listing-card">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-img-overlay">abcd</div>
        <div class="card-body">
          <p class="card-text">
            <b><%=listing.title%></b> <br>
            &#8377;<%=listing.price.toLocaleString('en-IN')%>/night
          </p>
        </div>
      </div>
    </a>
      <% } %>
    </div>
  <%}%>
</body>

<script>
  document.querySelectorAll('.filter').forEach(filter => {
      filter.addEventListener('click', () => {
          const filterType = filter.querySelector('p').innerText;
          window.location.href = `/listings/filter/${filterType}`;
      });
  });
</script>

